html, body {
    height: 100vh;
    width: 100vw;
  }
  
  body {
    background-color: orange;
  }
  
  #home {
    background-color: lightblue;
  }
  
  #away {
    background-color: orange;
  }
  
  .result {
    transform: translateY(-20%);
  }
  
  .score {
    font-size: 65vh;
  }
  
  #btn-cog {
    font-size: 2em !important;
  }

  .navbar-expand-lg.navbar-light.bg-light {
    z-index: 100;
}

.hide {
 display: none;
}


.nohide {
  display: block !important;
}

.btn-group.special {
  display: flex !important;
}

.special .btn {
  flex: 1
}